DATABASE_URL="mongodb+srv://user:password@cluster.mongodb.net/dbname"
PORT=3001
CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_API_KEY=key
CLOUDINARY_API_SECRET=secret

# Shiprocket Integration
SHIPROCKET_EMAIL="email"
SHIPROCKET_PASSWORD="password"

# CC Avenue
CCAVENUE_MERCHANT_ID=id
CCAVENUE_ACCESS_CODE=code
CCAVENUE_WORKING_KEY=key

# Gemini AI 
GEMINI_API_KEY="key"
GEMINI_PRODUCT_API_KEY="key"
